* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
h1{
    padding-bottom: 20px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 8px;
  background: #ff63b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #df3389;
}

#resultado {
  margin-top: 15px;
  font-weight: bold;
}
